<div class="container">
  <header>
    <h1>Add milestone</h1>
  </header>

  <form class="form">

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Title</label>
          <input ng-model="new.title" class="form-control">
        </div>
        <div class="form-group">
          <label>Whiteboard search</label>
          <input ng-model="new.whiteboard" class="form-control">
          <div class="help-block">eg. events2, mvp</div>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea ng-model="new.description" class="form-control"></textarea>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Due date</label>

          <div class="input-group">
             <input
              type="text"
              class="form-control"
              datepicker-popup="longDate"
              ng-model="new.dueDate"
              is-open="opened"
              min="minDate"
              max="'2015-06-22'"
              datepicker-options="dateOptions"
              close-text="Close">
             <span class="input-group-btn">
               <button class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
             </span>
           </div>

        </div>

        <div class="form-group">
          <label>Default Component</label>
          <select ng-model="new.defaultComponent" class="form-control">
            <option value="">None</option>
            <option value="webmaker.org">Webmaker.org / Explore</option>
            <option value="Events">Events</option>
            <option value="Thimble">Thimble</option>
            <option value="Popcorn Maker">Popcorn Maker</option>
            <option value="X-Ray Goggles">Goggles</option>
            <option value="Login">Login</option>
            <option value="Profile">Profile</option>
            <option value="MakeAPI">MakeAPI</option>
          </select>
        </div>

      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary" ng-click="submit()">Create milestone</button>
    </div>
  </form>
</div>
