<div class="container">
  <header>
    <h1>Add Sprint</h1>
  </header>

  <form class="form">

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label>Title</label>
          <input ng-model="new.title" class="form-control">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="form-group">
          <label>Due date</label>

          <div class="input-group">
             <input
              type="text"
              class="form-control"
              datepicker-popup="longDate"
              ng-model="new.dueDate"
              is-open="opened"
              min="minDate"
              max="'2015-06-22'"
              datepicker-options="dateOptions"
              close-text="Close">
             <span class="input-group-btn">
               <a class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></a>
             </span>
           </div>

        </div>
      </div>

   <!--    <div class="col-xs-12 tab-container">
        <a class="btn btn-github btn-active">+ Github Milestone</a>
        <a class="btn btn-bugzilla">+ Bugzilla search</a>
      </div>
 -->
  <!--     <tabset>
        <tab heading="Bugzilla">Bugzilla</tab>
        <tab heading="Github">This is github</tab>
      </tabset> -->

      <!--  <div class="form-group">
         <label>Description</label>
         <textarea ng-model="new.description" class="form-control"></textarea>
       </div> -->

      <div id="bugzilla-well" class="col-xs-12">
        <div class="well well-bugzilla">
          <h4 class="header-well">Bugzilla</h4>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Whiteboard search</label>
                <input ng-model="new.whiteboard" class="form-control">
                <div class="help-block">eg. events2, mvp</div>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label>Default Component</label>
                <select ng-model="new.defaultComponent" class="form-control">
                  <option value="">None</option>
                  <option value="webmaker.org">Webmaker.org / Explore</option>
                  <option value="Events">Events</option>
                  <option value="Thimble">Thimble</option>
                  <option value="Popcorn Maker">Popcorn Maker</option>
                  <option value="X-Ray Goggles">Goggles</option>
                  <option value="Login">Login</option>
                  <option value="Profile">Profile</option>
                  <option value="MakeAPI">MakeAPI</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="github-well" class="col-xs-12">
        <div class="well well-github">
          <h4 class="header-well">Github</h4>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label>Repo</label>
                <div class="input-group">
                  <input ng-model="new.repo" class="form-control">
                  <span class="input-group-btn">
                    <a class="btn btn-default" ng-click="getRepoInfo()"><i class="fa fa-search"></i></a>
                  </span>
                </div>
                <div class="help-block">eg. mozilla/makerstrap</div>
              </div>
            </div>

            <div class="col-xs-6">
              <div class="form-group" ng-show="repoSprints">
                <label>Github Sprint</label>
                <select ng-model="new.repoMilestone" class="form-control">
                  <option ng-repeat="milestone in repoMilestones" value="{{milestone.id}}">{{milestone.title}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <button class="btn btn-warning" ng-click="submit()">Create Sprint</button>
    </div>
  </form>
</div>
