<header>
  <div class="container">
    <hgroup>
      <h1 class="feature-title">Sprinter</h1>
    </hgroup>
  </div>
</header>

<div class="container">
  <p class="lead">Sprinter lets you and your team track units of work on Bugzilla with whiteboard tags and a due date.</p>
  <p class="lead">It's super alpha and maintained on my spare time, so keep that in mind when you're using it and <a href="https://github.com/k88hudson/sprinter/issues">file bugs</a> when you see them.</p>
  <div class="alert alert-success">
    <strong>Want to create sprints?</strong> Ask k88hudson on IRC to be added as an admin.
  </div>
</div>
