<div class="container-fluid">
  <header>
    <h1 class="feature-title">{{m.title}}</h1>
    <h3 class="feature-due-date">Due {{m.dueDate | timeago}} <a href="{{newBugUrl}}" class="btn btn-primary btn-add-bug" target="_blank">Add bug</a></h3>

    <div class="progress progress-bugs">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{complete.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{complete.percentage}}%;">
        <span>{{complete.resolved}}/{{complete.total}}</span>
      </div>
    </div>

  </header>

  <row>
    <div class="bugz col-lg-10 col-lg-offset-1">
      <div class="bugs-loading" ng-hide="bugs">
        <span class="fa fa-cog fa-spin"></span><span class="sr-only">Loading bugs</span>
      </div>

      <table ng-show="bugs" class="table bug-table">
        <thead>
          <tr>
            <th ng-repeat="field in fields" ng-click="setOrderBy(field.bz)">
              <span class="fa fa-sort"></span> {{field.name}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="bug in bugs | orderBy:[orderDir + orderField, '-assignedTo']"
              ng-class="{'bug-resolved': bug.resolution, 'bug-blocked': bug.blocked}"
              ng-hide="bug.resolution === 'DUPLICATE'">
            <td>{{bug.last_change_time | timeago}}</td>
            <td class="text-monospace"> <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{bug.id}}" target="_blank">#{{bug.id}}</a></td>
            <td>
              {{bug.summary}}
            </td>
            <td>{{bug.assigned_to_detail.real_name | nameFilter}}</td>
            <td>{{bug.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </row>

</div>
